<div class="small-12 columns">

<h1>Resend confirmation instructions</h1>

<%= form_for(resource, as: resource_name, url: confirmation_path, html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input_div :email, field: { autofocus: true } %>

  <%= f.submit "Resend confirmation instructions", class: "button radius" %>

<% end %>

<%= render "devise/shared/links" %>

</div>