<div class="small-12 columns">

  <h1>Register</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <%= render partial: 'form_fields', locals: { f: f } %>

    <p>
      <%= f.label :terms_of_service %>
      <%= f.check_box :terms_of_service %> By registering you agree to our <%=  link_to 'terms of service', terms_of_service_path %> and to release any midi files you upload to the <%= link_to 'public domain', 'http://creativecommons.org/publicdomain/zero/1.0/' %>.
    </p>
  
    <%= f.submit "Register", class: "button radius" %>

  <% end %>

  <%= render "devise/shared/links" %>

</div>