<div class="small-12 columns">

<h1>Change your password</h1>

<%= form_for(resource, as: resource_name, url: password_path, html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <%= f.input_div :password, label: "New Password", field: { autofocus: true, autocomplete: "off" } %>

  <%= f.input_div :password_confirmation, label: "Confirm new password", field: { autocomplete: "off" } %>

  <%= f.submit "Change my password", class: "button radius" %>

<% end %>

<%= render "devise/shared/links" %>

</div>