<h1>Hello, Rails!</h1>
<%= link_to 'Browse Beats', controller: 'beats' %>
<h2>User Management</h2>
<% if user_signed_in? %>
<li><%= link_to 'Profile', user_path %></li>
<li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
<li><%= link_to 'Sign in', new_user_session_path %></li>
<li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>

<h2>Beats</h2>
<%= render 'beats/list' %>