<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.hidden_field :created_by, value: current_user.name %>

<%= f.input_div :title %>

<%= f.input_div :description %>

<p>
  <%= f.label :tags %>
  Add your genre, time signatures, or other labels here to help people find your beats. The first tag in this list will be chosen as the primary and there is a maximum of 5 tags.<br>
  <%= f.collection_select(:tag_list, ActsAsTaggableOn::Tag.all, :name, :name, {}, { multiple: 'multiple' } ) %>
</p>

<p>
  <%= f.label :midi_upload %>
  Midi files only with a maximum filesize of 10kb<br>
  <%= f.file_field :midi %>
</p>
