<% if selected_tag == "all" %>
  <%= link_to "All Beats", "", class: "nav-tags-btn", disabled: true %>
<% elsif selected_tag %>
  <%= link_to "#{selected_tag.titleize} Beats", "", class: "nav-tags-btn", disabled: true %>
<% else %>
  <%= link_to "All Beats", "", class: "nav-tags-btn", disabled: true %>
<% end %>
<ul id="tags">
  <li><%= link_to "All Beats", beats_path(tag: "all"), method: :get, remote: true, class: "sort-tag" %></li>
  <% ActsAsTaggableOn::Tag.most_used(10).each do |tag| %>
    <li><%= link_to tag.name.titleize, beats_path(tag: tag.name), method: :get, remote: true, class: "sort-tag" %></li>
  <% end %>
</ul>