<div class="small-12 columns">
    
  <div class="clearfix">
    <%= render partial: "beat", locals: {beat: @beat} %>
  </div>
  
  <% if user_signed_in? %>
    <div id="comment-form">
      <%= render 'comments/form' %>
    </div>
  <% end %>
  
  <div class="row">
    
    <div class="medium-2 columns">
    
      <%= link_to user_path(User.find(@beat.user_id).permalink), title: "View #{User.find(@beat.user_id).name}'s profile" do %>
      <%= image_tag User.find(@beat.user_id).avatar.url(:medium) if User.find(@beat.user_id).avatar.url(:medium) %>
      <% end %>
      
      <% if user_signed_in? %>
        <% if @beat.created_by = current_user.name %>
          <ul class="side-nav" role="navigation" title="Manage Beat">
            <li><%= link_to 'Edit', edit_beat_path(@beat) %></li>
            <li><%= link_to 'Delete', beat_path(@beat),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></li>
          </ul>
        <% end %>
      <% end %>
      
    </div>
    
    <div class="medium-10 columns">
      
      <p><%= @beat.description %></p>
      
      <p><span class="fa fa-tags"></span> <%= @beat.tag_list %></p>
      
      <hr />
      
      <% if @comments.size == 0 %>
        <p>There aren't any comments yet.</p>
      <% else %>
        <p><span class="fa fa-comment"></span>&nbsp;<%= @comments.size %> comments</p>
        <div id="comment-list"><%= render @comments.reverse %></div>
      <% end %>
      
    </div>
    
  </div>
</div>