<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "BeatLib" %></title>
    
    <%= favicon_link_tag 'favicon.png', rel: 'icon', type: 'image/png' %>
    <!--[if IE]>
      <%= favicon_link_tag 'favicon.ico', rel: 'shortcut icon', type: 'image/x-icon' %>
    <![endif]-->
    
    <script src="https://use.typekit.net/ewa1mre.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    
    <div id="container">
  
      <header class="header">
        <%= render 'layouts/navigation' %>
      </header>

      <div id="content" class="row">

        <%= yield %>

      </div>

      <footer class="footer row">

        <div class="small-12 columns">

          <h3>Under Development</h3>

          <p>This website is beta software, expect bugs and possible downtime or loss of data. If you're interested in helping me test and develop BeatLib, or have feedback, please contact me at <a href="mailto:bryan@hyshka.com">bryan@hyshka.com</a>.</p>

          <hr />
          
          <ul class="inline-list"  role="navigation" title="Footer Menu">
            <li><%= link_to 'Get Started', get_started_path %></li>
            <li><%= link_to 'Terms', terms_of_service_path %></li>
            <% if can? :manage, :all %>
            <li><%= link_to 'Admin', rails_admin_path %></li>
            <% end %>
          </ul>
          
        </div>
      </footer>
    </div>
  </body>
</html>
